@media screen and (min-width: 375px) and (max-width: 667px) {
  #login .login__column:first-child {
    display: none;
  }

  #login .login__column {
    width: 100%;
  }

  .login__column .login__box {
    padding-left: 0px;
    padding-right: 0px;
  }

  .navigation {
    padding: 0 20px;
    margin-bottom: 0;
  }

  .navigation input,
  .navigation .fa-search {
    display: none;
  }

  #feed .photo {
    background-color: transparent;
    border: 0;
    margin-bottom: 20px;
  }

  #feed .photo .photo__add-comment-container {
    display: none;
  }

  .footer {
    width: 80%;
  }

  .footer,
  .footer .footer__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__list .footer__list-item {
    margin-bottom: 10px;
  }

  .profile__header .profile__column {
    margin-top: 25px;
  }

  .profile__header .profile__column:first-child {
    width: 100%;
  }
  .profile__header .profile__column:last-child {
    width: 100%;
  }
}
